<!DOCTYPE html>
<html>
  <head>
    <title>Baroquen</title>
    <link rel="shortcut icon" href="https://s3.amazonaws.com/baroquen-dev/favicon.ico" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script type="text/javascript">
        window.currentUser =
          <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>
  </head>

  <body oncontextmenu="return false">

    <%= yield %>
  </body>
</html>
